<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>工程模式|FactoryViewController</key>
	<string>介绍工厂模式的使用</string>
	<key>线程|ThreadViewController</key>
	<string>介绍开启线程的方法</string>
	<key>iOS宏定义写法</key>
	<string></string>
	<key>依赖注入</key>
	<string></string>
</dict>
</plist>
